<section class="container">
    <div class="row">
    <mat-card class="example-card col-md-6 col-md-6 col-sm-6"  style="margin:auto; margin-top : 150px;" id="language"> 
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title style="color : darkolivegreen">{{'Please deposit the Cash in atm' | translate}}</mat-card-title>
      </mat-card-header>
      <picture id="cash">
        <source media='(min-width:0px)' srcset="/assets/atm (1).png">
        <img mat-card-image src="/assets/atm (1).png" alt="Photo of a Shiba Inu" style="height: 200px;
        width: 200px; margin-left: 40px;">
      </picture>
    </mat-card>
    </div>
</section>