<section class="container">
    <div class="row">
    <mat-card class="example-card col-md-6 col-md-6 col-sm-6" style="margin:auto" >
        <mat-card-header><picture id="atm"  style="margin-left:10px">
            <source media='(min-width:0px)' srcset="/assets/atm-machine.png">
            <img mat-card-image src="/assets/atm-machine.png" alt="Photo of a Shiba Inu" style="height: 230px;
            width: 230px;">
    </picture>
    </mat-card-header>
    <!-- <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Enter PIN</mat-card-title>
    </mat-card-header>-->
    
    <!--<mat-card-content>
      <p style="padding-left: 70px;"> <mat-icon style="font-size : 100px"> language</mat-icon></p>
    </mat-card-content>-->
    <mat-form-field appearance="fill" style="margin-left : 25px;" id="pin">
        <mat-label>{{ 'enter_your_pin'|translate}}</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="pinValue" >
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <mat-card-actions style="margin-left: 50px;" id="confirm">
        <button mat-flat-button style="background-color: green; color: white;" (click)="changeView()" [disabled]="pinValue.length<3">{{'confirm' |translate}}</button>
      </mat-card-actions>
  </mat-card>
  </div>
</section>
