<section class="container">
    <div class="row">
    <mat-card class="example-card col-md-6 col-md-6 col-sm-6 button_style"  style="margin:auto; margin-top : 150px;" id="language" (click)="loadDepositDialog()"> 
      
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title style="color : darkolivegreen">{{'cash' | translate}}</mat-card-title>
      </mat-card-header>
      <picture id="cash">
        <source media='(min-width:0px)' srcset="/assets/money.png">
        <img mat-card-image src="/assets/money.png" alt="Photo of a Shiba Inu" style="height: 200px;
        width: 200px; margin-left: 40px;">
      </picture>
      <!--mat-card-content id="icon">
        <p style="padding-left: 70px;"> <mat-icon style="font-size : 100px"> language</mat-icon></p>
      </mat-card-content>-->
    </mat-card>


    <mat-card class="example-card1 col-md-6 col-md-6 col-sm-6 button_style"  style="margin:auto; margin-top : 150px;" id="language" (click)="loadDepositDialog()"> 
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title style="color : darkolivegreen">{{"cheque" | translate}} </mat-card-title>
        </mat-card-header>
        <picture id="cheque">
          <source media='(min-width:0px)' srcset="/assets/cheque.png">
          <img mat-card-image src="/assets/cheque.png" alt="Photo of a Shiba Inu" style="height: 200px;
          width: 200px; margin-left: 40px;">
        </picture>
        <!--mat-card-content id="icon">
          <p style="padding-left: 70px;"> <mat-icon style="font-size : 100px"> language</mat-icon></p>
        </mat-card-content>-->
        
    </mat-card>
    </div>
    </section>